<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://fonts.googleapis.com/css?family=Mate" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{{site.url}}/assets/favicon.ico">

  {% if page.use_math %}
    {% include mathjax_support %}
  {% endif %}

</head>
